body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #5da2de, #ff9747);
  }
  
  .admin-auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .center-content {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .input-field {
    padding: 0.5rem;
    font-size: 1rem;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .styled-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 1rem;
  }
  
  .switch-button {
    background-color: transparent;
    color: #007bff;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 0.5rem;
  }
  